extends _layout/layout.pug
block main
    //- phan slider trang chu
	section.home_slider
		.container
			.row
				.col
					h1 smdlksajl;djkassdsadasdsadsadsadsadsdsad
					p
						a.btn.btn-more
						(href="#") fdlkfldkffgfg

		